@model MyPSBlog.Controllers.DeleteBlogViewModel


@{
    ViewBag.Title = "Delete";
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        
    </dl>

    @using (Html.BeginForm("Delete", "Blogs", FormMethod.Post))
    {
        @(Html.AntiForgeryToken())
        @(this.Html.HiddenFor(model => model.BlogId, new {value = this.Model.BlogId}))
            <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
    }

    </div>
